body {
    font-family: 'Oswald', sans-serif;
    background-color: #17d3ff;
    text-align: center;
}

img {
    width: 400px;
}
.result1{
  display: none;
}
.result2{
  display: none;
}
.result3{
  display: none;
}
.result4{
  display: none;
}